[2015-06-20 16:31] davidjgonzalez opened #1 "Content push doesnt seem to be reflecting in repo"
My Content updates don't seem be reflected but the logs seems to indicate the change was pushed.

Also not sure why its trying to push things outside of `jcr_root` .

[code]

![2015-06-20 at 12 28 pm](https://cloud.githubusercontent.com/assets/1451868/8268139/ef92aef2-1747-11e5-86fa-8043ba1330aa.png)

![2015-06-20 at 12 29 pm](https://cloud.githubusercontent.com/assets/1451868/8268142/129232ce-174

[2015-06-20 20:30] davidjgonzalez opened #2 "[Enhancement] Bundle deployment throttle"
I noticed that as I made changes to my Bundle files, the plugin was "constantly" building and deploying the bundle (which is expected), however it taxes my poor 4GB Macbook Air (Intellij gets noticeably laggy)

It would be cool if there could be a configurable "throttle" on bundle deploys; For example it would wait for a quiet period of N seconds before kicking off the build. That way I could save

[2015-06-21 17:48] davidjgonzalez opened #3 "My /etc wiped out ?"
I just noticed that my /etc has been wiped out.

I'm 99% positive I didn't do this manually/on accident.. I have only been working the ACS AEM Tools project so haven't been doing anything unusual or novel.

![2015-06-21 at 1 45 pm](https://cloud.githubusercontent.com/assets/1451868/8272721/e15bd0a0-181b-11e5-9d71-a567157b16f9.png)

All i have left are a few folders that presumably were re-created

[2015-06-24 17:30] schaefa opened #4 "Project Verification Action"
The Plugin needs certain things in place to work properly. For example it needs a filter.xml file to avoid deleting files / folders outside of the filters.

Therefore an Action should be added to the plugin to do a verification that all prerequisite are met avoiding problems down the road.

In addition the code should have failsafes in place to avoid the plugin to go rough. For example any folders

[2015-07-04 16:29] #1 closed, assigned to nobody

[2015-07-04 16:30] #3 closed, assigned to nobody

[2015-07-04 16:30] #2 closed, assigned to nobody

[2015-07-04 16:33] davidjgonzalez opened #5 "Auto-Bundle Build Notifications"
I am enjoying the throttle, but noticed something a little irritating (and maybe this is just an Intellij setting ?).

Whenever the plugin kicks off a build it pops up w the Build Console window which is sort of jarring when coding (i have to go minimize it which ruins the coding flow).

Likewise - im not sure if it would be able to detect if there are known compilation errors in the code (ex. My

[2015-07-04 16:34] davidjgonzalez opened #6 "Context path config doesnt seem to work"
Im fixing some Context Paths in AEM Tools, and restarted AEM under /aem/... I cant get the plugin to work; i went into the plugin config and set Context Path to "/aem" .. i even "cleared" the config (including the lightning bolt) and tried to re-establish but get these errors..

[code]

[2015-07-14 10:51] davidjgonzalez opened #7 "Beta 1.5 - Bundle not deploying"
Using latest (Beta 1.5) I cant get my bundle to deploy even when no code-smell changes are made.

I dropped my throttle to 5 seconds and waited 5+ seconds after "clean" changes.

[2015-08-18 09:39] visiongeist opened #8 "Error when plugin is active"
Hi guys,

I keep getting a popup in IntelliJ when the plugin is active.
This is the stack trace. Any ideas why?

Thanks,
Damien

[code]

[2015-08-18 09:57] acollign opened #9 "IllegalArgumentException: Argument for @NotNull parameter 'serverConfiguration'"
I'm getting an IllegalArgumentException when clicking on the Settings icon in the AEM Console.

[code]

[2015-08-18 10:19] gabrielwalt opened #10 "Cleanup the Git repository"
Hi,

It would be great to do some cleanup on the Git repository:
- Add git ignore for the `.DS_Store`
- Move the `AEM Tooling Plugin.zip` binary to CQ Blueprints and rewrite the history to not contain them anymore (to avoid everybody who clones the repository to have that download megabites of data), or kill the whole history
- Fix typo in `documentation`

[2015-08-22 13:36] davidjgonzalez opened #11 "Could Not Save Application Settings (0.6-BETA-2)"
Upgraded to 0.6-BETA-2 to day and noticed the intellij dialog popping up.

It *seems* to happen whenever I switch focus from Intellij to another application (intellij grabs focus back w the popup window)

![2015-08-22 at 9 33 am](https://cloud.githubusercontent.com/assets/1451868/9424193/fa9c3300-48b0-11e5-9431-c1d5c4469d0d.png)

[2015-10-08 20:21] #4 closed, assigned to nobody

[2015-10-08 20:22] #5 closed, assigned to nobody

[2015-10-08 20:23] #7 closed, assigned to nobody

[2016-02-17 20:21] GastonGonzalez opened #12 "OSGi service never deploys (0.6.4.1-SNAPSHOT)"
Hi Andy,

I am using the plugin for the first time, so I may be missing something.

I have an existing project built using the AEM Project Archetype and I am able to see my components deployed fine when making live edits in the IDE. However, any changes that I make to an OSGi service in my _someapp_.core Maven sub project never gets deployed even with a forced synchronization. The AEM (EID) window

[2016-03-01 00:17] #12 closed, assigned to schaefa

[2016-03-01 00:18] #10 closed, assigned to nobody

[2016-03-01 00:20] #9 closed, assigned to nobody

[2016-03-31 16:03] tml opened #13 "0.6.4.8-SNAPSHOT breaks 2016.1.1"
With 0.6.4.8-SNAPSHOT loaded, my IntelliJ no longer starts. The exception thrown is:

[code]

With it complaining about ```com.headwire.aem.tooling.intellij.explorer.SlingModuleBuilder```, I opened `AEM Plugin Tooling.jar` from the zip file and found there is indeed no such class. However, I **do** see a `com.headwire.aem.tooling.intellij.explorer.SlingMavenModuleBuilder` - I am wondering if this

[2016-03-31 16:23] schaefa commented on #13
Yes, this is an issue with a rename where a reference in the Plugin configuration was not updated during the rename. I will post a fixed version asap.

[2016-03-31 16:42] schaefa commented on #13
I fixed that issue on my current development release 0.6.9. It is still beta but let me know if this fixed your issue:

https://db.tt/6OQhG9C7

[2016-03-31 16:48] schaefa commented on #13
BTW what version of IntelliJ are you using? Normally when this happens you have the choice to disable the plugin and IntelliJ will work normally afterwards but the plugin is not available anymore.

[2016-04-01 20:03] dkuntze commented on #13
I had the same issue as @tml but my IntelliJ started properly. However, some of the dialogs wouldn't do anything, etc. @schaefa's 0.6.9 build seems to fix the problems.

[2016-04-04 16:50] tml commented on #13
@schaefa - I am using IntelliJ 2016.1.1 - 0.6.9 fixed my problem, thanks!

[2016-04-04 16:50] #13 closed

[2016-04-05 16:36] schaefa commented on #11
This is quite outdated and so I close it for now.

[2016-04-05 16:36] #11 closed

[2016-04-05 16:37] schaefa commented on #8
This is quite outdated and so I close it for now.

[2016-04-05 16:37] #8 closed

[2016-04-10 20:16] davidjgonzalez opened #14 "NPE when deploying bundle"
![2016-04-10 at 4 15 pm](https://cloud.githubusercontent.com/assets/1451868/14412757/863a5d14-ff37-11e5-9741-b9425c723728.png)

i noticed this a bit after updating to latest. Let me know if there is a way to collect logs.

[2016-04-11 15:17] schaefa commented on #14
This could be an issue of the revamped module model used in the plugin.

Can you click on one of the NullPointerException links in the Event Log, go to Details and post the stack trace?

[2016-04-16 10:21] royteeuwen opened #15 "NPE for initial content bundle"
I am getting following NPE. This happens when i used the sling initial content archetype and change a value of a node for example. I am using IntelliJ Ultimate 2016.1

`
null
java.lang.NullPointerException
	at com.headwire.aem.tooling.intellij.communication.ContentResourceChangeListener.executeMake(ContentResourceChangeListener.java:230)
	at com.headwire.aem.tooling.intellij.communication.ContentR

[2016-04-17 18:26] davidjgonzalez commented on #14
[code]

[2016-04-17 22:11] schaefa commented on #15
I fixed the issue and will release a fix for it soon. You could try to see if the NPE goes away when you open the Plugin Configuration in the Settings (under tools click on AEM Plugin).

[2016-04-17 22:12] schaefa commented on #15
This is a duplicate of Issue #14

[2016-04-17 22:12] #15 closed

[2016-04-17 22:12] schaefa commented on #14
I fixed the issue and will release a fix for it soon. You could try to see if the NPE goes away when you open the Plugin Configuration in the Settings (under tools click on AEM Plugin).

[2016-04-18 15:57] schaefa commented on #14
Released version 0.7.0 that contains a fix for that. Please have a spin with it and let me know if that fixed your issue.

[2016-04-18 16:01] schaefa commented on #14
Release 0.7.0 with a fix for that. Let me know if that worked for you.

- Andy

[2016-05-03 21:19] zerovirus23 commented on #6
Hey guys, do you know if this issue is still happening? Today I got that error trying to deploy from Intellij to AEM 6.0.

[2016-05-03 22:24] schaefa commented on #6
Yes, as far as I know this is still not fixed. I will have a look into this again soon but this is part of the Jackrabbit WebDav connector and there is not much I can do about it.

[2016-05-04 02:15] davidjgonzalez opened #16 "What happened to the releases?"
It says there are zero releases? Have the downloads been moved somewhere?

[2016-05-04 02:33] schaefa commented on #16
The releases where always in the Wiki sections. I never did a release with Github but I have a look into it.

[2016-05-05 00:21] davidjgonzalez commented on #16
oh right - forgot :)

[2016-05-05 00:21] #16 closed

[2016-05-05 00:37] davidjgonzalez commented on #14
Fixed this NPE.. found another. will open another ticket

[2016-05-05 00:37] #14 closed

[2016-05-05 00:37] davidjgonzalez opened #17 "NPE when deploying bundle"
Got this one after updating to 0.7.0

[code]

[code]

[2016-05-06 14:32] ameeshtrikha opened #18 "The META-INF must contain vault/filter.xml"
In our project we have the filter.xml being generated at the build time by content-package-maven-plugin. Because of which we are not able to configure the facet.
This is what our configuration looks like -

[code]

Can we explicitly provide the filter.xml within the Facet Configuration of the content package.

[2016-05-09 17:59] reusr1 commented on #18
is this possible with the eclipse ide plugin?

[2016-05-09 18:30] schaefa commented on #18
I think that Eclipse does not support that.

I will have a look into it. Maybe I add an force radio button allowing you to specify a filter.xml file even when there is no there yet.

- Andy

[2016-08-22 18:27] schaefa commented on #18
I added a flag to the Sling Module Facet called "Filter is generated'. If checked the verification is not testing the presence of the filter. That said for the deployment of content the filter must be present otherwise the deployment will fail.

Let me know if that works for you.

[2016-09-20 22:28] alvinsgithub opened #19 "Indexing takes forever"
Plugin Version 0.7.1
IntelliJ Version 14.1.7

With the plugin enabled, indexing would take forever and eventually stop responding.
Invalidating the caches and restarting do not help. The only solution to make intelliJ working is to restart with the AEM plugin disabled.

[2016-09-27 16:05] chillinPanda opened #20 "Java code Hot Swap problem with Java 8"
Hello,
- I have a project based on Java 8
- I want to use Hot Swap for Java code changes
- IntelliJ IDEA 2016.2.4
- Plugin version: 0.7.1
# Problem

When I do code changes and the build process runs, I get following error message:

[code]

Googling resulted in this: http://stackoverflow.com/a/38945890

Seems like the Scr plugin for intelliJ is too old to read Java 8 classes.
# Workaround 1

I chan

[2016-09-27 16:11] schaefa commented on #20
Thanks for reporting that. I am looking into that and see what needs to be done here.

For you info the Felix SCR Annotation Processor is adding necessary methods (bind / unbind XX) methods to the class. If you can such an annotation the hot swap will fail as the method signatures have changed. If not then you should be fine.

I don't like the dependency on another plugin but I don't want to just

[2016-09-27 16:13] schaefa commented on #19
14.1.7 is a pretty old IntelliJ version. Can yo try with a newer version and see if it remains an issue?

[2016-09-28 11:06] chillinPanda commented on #20
The [plugin page](https://plugins.jetbrains.com/plugin/7009?pr=) states, that the last version is from 04/28/2014

The [github project](https://github.com/chilicat/felix-annotation-processor) has very low and old activity. I don't think that there is comming a new version soon.

[2016-09-28 18:04] sammykumar commented on #19
Really would like to use this plugin but I'm also experiencing the same issue. In my indexing never finishes. I need use Task Manger to kill the process.

Plugin Version: 0.7.1
IntelliJ IDEA 2016.2.4
Build #IU-162.2032.8, built on September 9, 2016
JRE: 1.8.0_91-b15 amd64
JVM: Java HotSpot(TM) 64-Bit Server VM by Oracle Corporation

[2016-10-12 07:20] krystianpanek opened #21 "NPE / IntelliJ 2016.2.4"
I am trying to connect to running AEM instance on 'localhost:8080 / admin:admin' / plugin version (0.7.1 / recent), project generated from archetype: sling / adobe project archetype 10.

[code]

[2016-10-12 07:22] krystianpanek commented on #21
even after reconnecting with updated settings, error is no longer visible, maven builds seems to be launched, but deploying has no affect. I cannot se both bundles and content on instance.

[2016-10-22 12:03] SBPrakash commented on #19
@sammykumar same issue..Please help

[2016-10-24 10:17] krystianpanek commented on #21
what is more, when I tried to use previous version of IntelliJ, after installing plugin, whole IDE hangs and is no more longer usable

[2016-10-28 16:43] schaefa commented on #21
I'll try to have a look into this as soon as my work situation allows for it.

Do you see anything in the AEM Console or the IntelliJ logs that give any indication for it?

[2016-10-28 16:46] schaefa commented on #20
Currently I have no time left to work on the plugin due to heavy workload. Maybe over Thanksgiving I can have a look into this.

[2016-10-28 16:48] schaefa commented on #19
Do you guys see any indication in the AEM Console or IntelliJ logs on what is causing it?

[2016-10-30 19:18] krystianpanek commented on #21
as pasted above, but I'll try to get more

[2016-11-09 09:31] AxelHo opened #22 "Plugin 'com.headwire.aem.tooling.intellij' failed to initialize"
Hi,
try to install the plugin in Intellij 2016.1.3 failed

Plugin 'com.headwire.aem.tooling.intellij' failed to initialize and will be disabled.  Please restart IntelliJ IDEA.

java.lang.ClassNotFoundException: com.headwire.aem.tooling.intellij.console.ConsoleLog PluginClassLoader[com.headwire.aem.tooling.intellij, 0.7.1]
    at com.intellij.ide.plugins.cl.PluginClassLoader.loadClass(PluginClassLo

[2016-11-09 10:48] AxelHo commented on #22
updated to
IntelliJ IDEA 2016.1.4
Build #IU-145.2070, built on August 2, 2016
JRE: 1.8.0_92-b14 amd64
JVM: Java HotSpot(TM) 64-Bit Server VM by Oracle Corporation

same problem

[2016-11-09 16:47] schaefa commented on #22
Hi

Lately there are some issues popping up with the plugin that are hard to track down. I checked the 0.7.1 zip file and the class is there in the right location but it could be that the static initializer fail causing this issues. Can you do me a favor and do the following to narrow it down:

1) In IntelliJ go to Help -> Show Log in Explorer (or something alike: https://intellij-support.jetbrain

[2016-11-10 02:48] #18 closed

[2016-11-11 16:29] gittergoing commented on #22
I am having the same issue and I am on a Mac. Attached is the log per your request.

Thanks - Shaun English
[idea.log.txt](https://github.com/headwirecom/aem-ide-tooling-4-intellij/files/586236/idea.log.txt)

[2016-11-16 17:34] schaefa commented on #22
@gittergoing I tried the Plugin in Mac OS X 10.12 and the latest IntelliJ CE and it works fine for me.

I will do some more testing and if nothing comes up I will create a version without the Console Log for you to test.

Could you open the Plugin ZIP file and make sure the class is there (just to be on the save side).

[2016-11-17 02:04] schaefa commented on #22
I still cannot reproduce the issue but it might be a race condition. I did add some NPE guards and avoided class member initialization to see if an exception might cause the issue. I also guarded some of the classes that uses the Console Log from NPEs.

I will soon issue an beta release of 0.7.2. Please give it a try and let me know if that works for you. The plugin might be working but you might

[2016-11-17 16:51] schaefa commented on #22
Here is the 0.7.2-beta version of the Plugin. It contains guards and adjustments to the ConsoleLog but because I cannot reproduce it this is a shot into the dark. Let me know if that fixes your issues:

https://db.tt/CaZfB5mj

[2016-11-17 17:13] schaefa commented on #19
I see some deadlocks during loading a project but only in Debug mode.

Can you try the latest 0.7.2-beta build: https://db.tt/CaZfB5mj

[2016-11-22 15:07] schaefa commented on #22
I was finally able to reproduce the issue where the automatic start of a Run / Debug Connection is ending up in a deadlock. For now I disabled that feature to make the plugin usable again until we have a fix for it. Please download 0.7.2-beta2 from here: https://db.tt/Q7a1KSlE

[2016-11-22 15:08] schaefa commented on #19
I was finally able to reproduce the issue where the automatic start of a Run / Debug Connection is ending up in a deadlock. For now I disabled that feature to make the plugin usable again until we have a fix for it. Please download 0.7.2-beta2 from here: https://db.tt/Q7a1KSlE

[2017-02-24 00:25] schaefa opened #25 "Prepare the Plugin to be Release as 1.0"
Finish the Plugin to release as 1.0 and publish the plugin to the IntelliJ Plugin repository.

[2017-02-24 00:28] schaefa opened #26 "Clean Up Code Base"
This is a sub task for #25.

Remove any unwanted or commented out code, adjust JavaDoc documentation.

This is limited to our code base and excludes anything that is taken from the Sling IDE project or any Eclipse stubs as they should go away when we merge the code bases.

[2017-02-24 00:30] schaefa opened #27 "Finish Documentation"
This is a sub task of #25

Update the plugin documentation, update pictures to correct size and format together with the correct version label.

[2017-02-24 20:19] schaefa opened #28 "Revamp the AEMDC Panel"
Improve the AEMDC Configuration Dialog:

- No configuration but lazybones configuration -> use 'aemdc -config'
- Move clone button to aemdc-file line, switch clone to pull when folder exists and is a git repo
- Have paths relative to project if it not more than 2 directories up
- Make paths unix style (forward slash, absolute start with a forward slash)
- Make sure clone / pull work fine if GIT is

[2017-02-25 00:02] schaefa commented on #28
Change the **OSGi Configuration** to **Run Modes**

[2017-02-27 21:58] codeamatic opened #29 "Unable to Import from Server"
Constantly running into this error message any time I try to "Import From".  It kills my server connection and forces me to have to restart Intellij.  This is on 2016.3

[code]

[2017-02-27 23:16] schaefa commented on #29
Which version are you using?

We fixed a bunch of issues with the **Import from** in 0.7.3 which you can find under code -> release.
If you are not using that version that please upgrade and let me know.

[2017-02-28 02:36] codeamatic commented on #29
Just upgraded and it seems to be working as expected.

[2017-02-28 02:36] #29 closed

[2017-02-28 22:15] schaefa commented on #28
Created a pre-release to test the improvements.

[2017-03-03 19:22] schaefa opened #30 "Support Symbolic Name inside Maven Bundle Plugin"
If a Symbolic Name is provided inside the Maven Bundle Plugin then the IntelliJ plugin might not find the bundle on the remote server as it uses the wrong Symbolic Name to find it.

- Find the Symbolic Name in the Maven Bundle Plugin and use that one instead (except when the user overwrote it inside our Facet)

- Check after the deployment if the bundle can be found on the remote server. If not is

[2017-03-04 00:11] schaefa commented on #30
* Add a check to see if the Bundle is activated otherwise report it to the user during deployment

[2017-03-04 00:39] schaefa opened #31 "Add Bundle Status Info to the Module Tree"
In order to let the user review the status of Bundles on the Server we should add info like state, imported and exported packages. If imported packages cannot be found then the bundle is not activated but it might help the developer to fix it.

This is for a release after 1.0.

[2017-03-04 01:14] schaefa opened #32 "Hide 'maven-archiver' Module"
Lately there is a module called 'maven-archiver' from the IntelliJ Maven module list. This is not needed and might confuse the user.

Hide the module from the module tree and make sure it does not interfere with plugin. It might be best to be able to mark a module as hidden and ignore it. These modules are not listed in the build configuration and in the tree.

[2017-03-15 18:08] #30 closed

[2017-03-15 18:08] #28 closed

[2017-03-15 18:09] #27 closed

[2017-03-15 18:09] #26 closed

[2017-03-15 18:11] schaefa commented on #22
The plugin release 1.0 has some changes to the way it imports libraries.

As I did not hear anything since November last year I close this. Re-open it if you encounter this issues with release 1.0.

[2017-03-15 18:11] #22 closed

[2017-03-15 18:12] schaefa commented on #21
Please give release 1.0 a shot and let me know if that shows the same issue.

[2017-03-15 18:12] #21 closed

[2017-03-15 18:14] schaefa commented on #20
Even in release 1.0 we still have the dependency on the Felix SCR Annotation Plugin but there is a forked project that works with JDK 1.8:

https://github.com/bobi/felix-annotation-processor/releases

Please use their release 1.7 and you should be able to use Felix Annotations together with Hot Swap.

[2017-03-15 18:14] #20 closed

[2017-03-15 18:15] schaefa commented on #19
There was a deadlock in the plugin but this is resolved now.

Please check out release 1.0 and see if you continue to see this issue.

[2017-03-15 18:15] #19 closed

[2017-03-15 18:17] schaefa commented on #17
Please check out release 1.0 and see if you continue to see that issue.

[2017-03-15 18:17] #17 closed

[2017-03-15 18:19] schaefa commented on #25
Done

[2017-03-15 18:19] #25 closed

[2017-03-22 09:47] jlallement opened #36 "Unable to Import from ..."
Hello,

I'm working on Intellij 2016.2.4 and I have the following exception everytime I try to "Import from" an AEM server

com.intellij.openapi.application.Application.invokeAndWait(Ljava/lang/Runnable;)V
java.lang.NoSuchMethodError: com.intellij.openapi.application.Application.invokeAndWait(Ljava/lang/Runnable;)V
	at com.headwire.aem.tooling.intellij.action.ImportFromServerAction.doImport(Import

[2017-03-22 09:49] jlallement commented on #36
![capture](https://cloud.githubusercontent.com/assets/11937325/24191825/4234bc56-0eed-11e7-8369-d20bc054b9b6.PNG)

[2017-03-22 16:37] schaefa commented on #36
Thank you for the report. This method was a recent addition to IntelliJ but I'm surprised it's not in 2016.2.

I will check and backport their code into the plugin if needed.

[2017-03-26 23:25] schaefa commented on #36
It turns out that IntelliJ had this method in place but in 2016.2 they required an additional parameter. So I used this method signature instead and it should fix your issue.

Please try out this pre-release https://github.com/headwirecom/aem-ide-tooling-4-intellij/commit/8044c7ea00314bce74fc514f711dbf5e0fa330d8 and let me know if that works out.

[2017-03-27 10:09] jlallement commented on #36
Hi,

Thx I will try it tomorrow and let you know.

Envoyé de mon iPhone

[2017-03-27 15:29] schaefa opened #37 "Investigate Support for Content Bundles"
Sling supports importing Content via an OSGi Bundle rather than a JCR Package.

Check if:

* If the Eclipse plugin supports that
* Check if our plugin supports it

No matter the outcome we either **need to support** it or we need to check and **warn the user** that this is not supported.

[2017-04-17 15:59] schaefa opened #38 "IntelliJ Plugin does not work with Maven Module"
The IntelliJ plugin expects a root project that is composed of modules of bundles and packages.
If the root project is just a module (bundle or package) it will fail in handling the modules.

[2017-04-17 16:02] schaefa commented on #37
There is not further support that deploying a content bundle. This means that any content inside the content bundle is not deployed to Sling / AEM on a one-by-one basis.

[2017-04-26 21:17] schaefa opened #39 "Move and Rename of Files inside IntelliJ are not synced with Server"
When a file is renamed or moved the changes are not propagated to the server.

Fixed in Issue 36 branch

[2017-04-26 21:58] schaefa opened #40 "Symbolic Name Handling"
The name of a bundle on a server is the symbolic name and does not have to be the same as the artifactId of the maven module.

In order to avoid confusion the plugin should respect any settings that changes the symbolic name. There are several places where it can be changed:

1. Our Sling Facet
2. Maven Bundle Plugin
3. Others

In order to make sure we have the matching Symbolic Name we need to in

[2017-04-27 19:06] mattshurley opened #41 "Error when trying to create a new Server Configuration"
Receiving NoClassDefFoundError: org/bouncycastle/util/Arrays when trying to create a new Server Configurations. IntelliJ IDEA Plugin For Adobe Experience Manager V1.0

[2017-04-27 20:37] mattshurley commented on #41
Upgraded IntelliJ to 2017.1.2 and the issue has been resolved.

[2017-04-27 20:37] #41 closed

[2017-05-11 13:52] schaefa opened #42 "Sync rep:policy files"
rep:policy files are not synced with the target server because they are protected against regular changes.

Sling IDE has this ticket about it:

https://issues.apache.org/jira/browse/SLING-3827

with a hint how FileVault is handling it.

[2017-05-24 06:22] Volune opened #43 "IntelliJ hangs"
IntelliJ hangs when using the "Verify the Current Configuration" or "Connect with Selected Server in Run Mode" operations.

Plugin version 1.0

[Thread dump](https://github.com/headwirecom/aem-ide-tooling-4-intellij/files/1024569/intellij_dump.txt)

[2017-06-06 20:04] schaefa commented on #43
This is an issue with the Thread Handling inside IntelliJ. Can you give Prelease 1.0.1 a spin.

[2017-06-06 20:08] schaefa opened #44 "Support Projects with a detached Parent POM"
Ensure that the Plugin is handling the scenario where the root POM and the parent POM are not the same like in Sling (parent -> /parent/pom.xml).

[2017-06-07 09:12] Volune commented on #43
Reproduced with 1.0.1-beta
[Thread dump](https://github.com/headwirecom/aem-ide-tooling-4-intellij/files/1057468/intellij_dump2.txt)

[2017-06-07 17:16] schaefa commented on #43
Hi

Looking at the latest Thread Dump I don't see a block. If you search for 'AWT-EventQueue-0' then you find that the verification is accessing the remote JCR repository and working though it.

Depending on the size of you project this can take a while but is necessary to make sure that the cache and the remote AEM server are in sync. This can take a while during which the Plugin is unresponsive.

[2017-06-07 17:31] schaefa opened #45 "Move Verification / Start Connection into Background"
Verification and Start Connection can take a while depending on the server and the state between IntelliJ and the Server.

For that it could be advantageous to have it run in the background to avoid delays in the user's work.

That said this requires changes to the code, changes to the way we report the outcome and checks to avoid the user to execute the tasks multiple times and to deploy while th

[2017-06-08 05:53] Volune commented on #43
Hi. I have nothing in the AEM console, all the IntelliJ UI is hanging and unresponsive.

Looks like it's something with the logger configuration for jackrabbit, with the logger hanging while writing.
[code]

An async appender could be useful here. Any idea where I can find the logger configuration?

[2017-06-08 17:50] schaefa commented on #43
During debugging I ran into an issue where Jackrabbit ended in an endless loop. Can you tail the idea.log file and tell me if that one is dead or if the log file is appended.

I don't know how the Jackrabbit logging can be configured but even if that can be configured and we have an endless loop that will probably not fix the endless loop.

[2017-06-13 14:47] schaefa commented on #43
Investigating another issue I maybe discovered the cause for the issue.

Could you please install the latest pre-release (https://github.com/headwirecom/aem-ide-tooling-4-intellij/releases/tag/r1.0.2-beta-1) and see if that fixes your issue.

[2017-06-13 15:26] schaefa commented on #43
Actually I jus posted a release: https://github.com/headwirecom/aem-ide-tooling-4-intellij/releases/tag/r1.0.2-beta-2 that should fix your issue.

Let me know if that does the trick for you.

[2017-06-13 15:35] schaefa commented on #44
Tested the scenario where the root POM (pom in the top most folder) only contains the list of modules and the reference to the parent. The parent is in a sub folder and contains the dependencies.

This works so far.

[2017-06-13 15:44] schaefa commented on #40
For now the handling of the Bundles is confusing to the user. We need to add the Bundle status to the Server Connection to make that more transparent. Each Bundle module should show its symbolic name and the state regarding the server (missing, installed, resolved or active). Also the user then can mute / unmute the Dialog.

[2017-06-13 15:45] #39 closed

[2017-06-13 15:45] schaefa commented on #38
Actually it does.

[2017-06-13 15:45] #38 closed

[2017-06-13 15:47] schaefa commented on #36
I guess this is not a problem anymore. Please re-open if that is still an issue.

[2017-06-13 15:47] #36 closed

[2017-06-13 15:50] schaefa opened #46 "Handle 'Import from' of a .content.xml file properly"
Currently (1.0.1) a .content.xml is not imported from the server if asked to do so (Import from).

Because the .content.xml file is a configuration file of the parent folder the import must be done of that parent. In order to prevent importing the entire sub tree we need to limit the import to just that resource.

[2017-06-13 15:52] schaefa opened #47 "Upgrade Support Bundle to 1.0.5"
Sling 9 / 10 cannot support any Support Bundle's before 1.0.5 because of the removal of the org.apache.commons.json and org.json.

[2017-06-14 03:17] Volune commented on #43
Tried 1.0.2-beta-2.
IJ freezed for around 30sec during the Verify, then worked again. Connect worked too. It may be useful to move some of the tasks to another thread, not the UI thread.

Issue solved. Thank you.

[2017-06-14 03:17] #43 closed

[2017-06-16 06:50] XTIER-Tech opened #48 "Error while starting the aem server"
Hi,

I have added this IDE Plugin. But while starting AEM server. Its giving me an error during startup
`12:11:44 PM No Content Found: No Content (jcr_root folder) found for Module: 'myApp-content'. This is necessary for the Publishing of Content to Work.`
Its multimodule maven project.

![error](https://user-images.githubusercontent.com/28855190/27215298-25467230-528e-11e7-8847-a58711eb0200.png)

[2017-07-20 13:51] jackrus01 opened #49 "Synchronizing fails with error: unknown typeHint value = "String""
The error occurs when trying to synchronize ui.apps, it fails with the following stacktrace:
Unknown typeHint value 'String'
java.lang.IllegalArgumentException: Unknown typeHint value 'String'
	at org.apache.sling.ide.impl.vlt.serialization.ContentXmlHandler$TypeHint.parsePossiblyTypedValue(ContentXmlHandler.java:261)
	at org.apache.sling.ide.impl.vlt.serialization.ContentXmlHandler.startElement(C

[2017-09-06 18:20] sameergauba commented on #22
Cannot find 1.0 release anywhere and facing this problem.

[2017-09-25 08:50] debbiesrain commented on #20
Disabling the **Felix SCR annotation processor** plugin fixed it.  I installed this plugin for using the **aem-ide-tooling-4-intellij** from headwirecom.  It was working for quite a while until today suddenly giving me an issue in running my unit tests (needless to say, there were no changes made in my java, mvn versions or in my IDE).

This plugin is really old (2014). I hope they will release a

[2017-10-04 13:28] B3r commented on #49
I had the same problem and solved it.
AEM has some Property types like Boolean, (I think) Decimal, and some more. The default type is String.
So if you use fields like
[code]
the properties "required" and "maxlength" will work, while emptyText will not. Just remove "{String}" and the error should disappear.

Hope I could help.
Greetz,
Marvin

[2017-10-08 14:40] Iskz opened #50 "Cant connect to server"
Can't connect to server Using AEM IDE Tooling for Intellij Idea.
Happens on Mac OS High Sierra

org/eclipse/core/runtime/Plugin
java.lang.NoClassDefFoundError: org/eclipse/core/runtime/Plugin
	at java.lang.ClassLoader.defineClass1(Native Method)
	at java.lang.ClassLoader.defineClass(ClassLoader.java:763)
	at java.lang.ClassLoader.defineClass(ClassLoader.java:642)
	at com.intellij.util.lang.UrlClas

[2017-10-23 11:10] rkorrelboom commented on #50
+1, also on Mac OS High Sierra

[2017-10-25 07:03] boser87 opened #51 "Automatic installation of core bundle"
Hi,

I cannot understand if this plugin provides automatic installation every new build of bunldes. If so, I cannot make this feature work. The bundle is recognized by the plugin but everytime I save a Java file in a bundle (and then the build is run), the automatic deploy is not starting (nothing is printed in the log files, with debug mode switched on).

I am using version 1.0.1 of this plugin.

[2017-10-31 20:41] schaefa commented on #51
This is not quite how it works. When a Java file of a bundle is changed and saved then it will be compiled and hot swapped into the server. In order to deploy the bundle needs to be deploy in the AEM tree.

[2017-10-31 20:44] schaefa commented on #50
I am sorry but I did not upgrade to High Sierra yet so I cannot test, evaluate or even speculate about this. As soon as I did the upgrade I will test it but for now I don't have the hardware nor the time to do so in the near future.

[2017-10-31 20:46] schaefa commented on #47
Fixed by release 1.0.2

[2017-10-31 20:46] #47 closed

[2017-10-31 20:46] schaefa commented on #46
Fixed in release 1.0.2

[2017-10-31 20:46] #46 closed

[2017-11-03 08:27] boser87 commented on #51
Sorry, my bad. I misunderstood the way it is supposed to work. I was missing the most important part: the connection must be in debug mode to make the hot swap work. Thanks!

[2017-11-03 08:27] #51 closed

[2017-11-11 11:21] SBPrakash commented on #50
+1, also on Mac OS High Sierra

[2017-11-14 21:00] SBPrakash commented on #50
@schaefa could you please fix this issue.. I am crying without this plugin working

[2017-11-17 20:00] schaefa commented on #50
I finally upgraded to High Sierra and could test the issue.

This is an issue because the Sling IDE code is an OSGi plugin and they use Eclipse code to implement that. I will try to remedy that situation by patching the JAR file and removing any Eclipse code. As soon as I know more I will post an ETA or release a beta version with that fix in it.

[2017-11-17 22:14] schaefa commented on #50
I uploaded a beta release of the 1.0.2 plugin which should fix the issue on Mac OS X High Sierra.

If you use another OS or other Mac OS X version than High Sierra please give it a spin to see if we regressed - thanks.

[2017-11-17 22:19] SBPrakash commented on #50
Thanks for quick updated release.. keep you posted if there is more issues

[2017-11-17 22:48] SBPrakash commented on #50
@schaefa getting the error while upload the plugin from disk as "Fail to load plugin descriptor from file"

[2017-11-20 14:43] Iskz commented on #50
@schaefa Seems like the plugin error was resolved. But the second half is still there.

org/apache/sling/ide/impl/vlt/Activator
java.lang.NoClassDefFoundError: org/apache/sling/ide/impl/vlt/Activator
	at org.apache.sling.ide.impl.vlt.VltRepository.<init>(VltRepository.java:53)
	at org.apache.sling.ide.impl.vlt.VltRepositoryFactory.connectRepository(VltRepositoryFactory.java:68)
	at com.headwire.ae

[2017-11-20 16:24] schaefa commented on #50
I am sorry but I uploaded the wrong file. I replaced the file on the release (now the file is named 'AEM IDE Tooling 4 IntelliJ.zip'). Please download and install this one and give it a spin.

Thanks - Andy

[2017-11-20 17:28] Iskz commented on #50
1:26:28 AM Cannot Connect to Repository: Cannot Connect to Repository with Name 'Default' due to an Exception 'com.headwire.aem.tooling.intellij.eclipse.stub.CoreException'

Seems like all I can get from the errors.

[2017-11-20 18:33] schaefa commented on #50
@Iskz Updated the Plugin to include a logging statement. You need to open the IntelliJ Logs (Help -> Show Log in Finder) to see the stack trace. I could create an Core Exception with a wrong password so please make sure you setting are correct.

[2017-11-20 22:46] SBPrakash commented on #50
As @Iskz  said, I am also getting this error..

2017-11-21 09:45:11,254 [ 338206]   WARN - llij.ide.plugins.PluginManager - Notification Exception
com.headwire.aem.tooling.intellij.eclipse.stub.CoreException
	at com.headwire.aem.tooling.intellij.eclipse.ServerUtil.connectRepository(ServerUtil.java:97)
	at com.headwire.aem.tooling.intellij.communication.ServerConnectionManager.obtainRepository(Serv

[2017-11-21 02:43] Iskz commented on #50
Here are my logs
2017-11-21 10:42:49,249 [ 213552]   WARN - llij.ide.plugins.PluginManager - Notification Exception
com.headwire.aem.tooling.intellij.eclipse.stub.CoreException
	at com.headwire.aem.tooling.intellij.eclipse.ServerUtil.connectRepository(ServerUtil.java:97)
	at com.headwire.aem.tooling.intellij.communication.ServerConnectionManager.obtainRepository(ServerConnectionManager.java:463)

[2017-11-21 16:51] schaefa commented on #50
Third time a charm?

I fixed an issue with the reflection I use in the Activator patch. It should work now even when the connection fails. Please have a look at the beta release to update and test.

Thanks

[2017-11-22 00:04] Iskz commented on #50
Beta release was updated 4 days ago. is this the correct one ?

[2017-11-22 00:32] schaefa commented on #50
Yeah. I use the same release just replace the artifact. That said I mention the updates in the release text body. Unfortunately any edits to the release it not tracked.

[2017-11-22 00:44] Iskz commented on #50
Noted.
Able to connect but unable to push.

2017-11-22 08:23:14,258 [ 417001]  ERROR - intellij.openapi.progress.Task - org/apache/jackrabbit/vault/util/DocViewNode
java.lang.NoClassDefFoundError: org/apache/jackrabbit/vault/util/DocViewNode
	at org.apache.sling.ide.impl.vlt.serialization.ContentXmlHandler.startElement(ContentXmlHandler.java:92)
	at org.apache.xerces.parsers.AbstractSAXParser.star

[2017-11-22 00:50] SBPrakash commented on #50
@schaefa I am also able to connect to server but not able to push anything. Even when I update the plugin my IntelliJ got hanged. I clear all the existing  config  to make it work.

[2017-11-22 16:57] schaefa commented on #50
Found an issue with outdated dependencies and fix it. The beta release has the updated plugin ZIP file. Please give it a try - thanks.

[2017-11-22 17:40] Iskz commented on #50
![image](https://user-images.githubusercontent.com/8488636/33141801-3b848120-cfef-11e7-8b35-093fb84e7bf6.png)

Hi @schaefa, not sure why i'm not seeing any Build Modules here.

[2017-11-22 17:49] Iskz commented on #50
Sorry, please ignore my previous message.

Verified that its all working now !

Great job !

[2017-11-22 18:04] schaefa commented on #50
Cool, thanks. I will wait a few more days and then release 1.0.3.

[2018-01-05 06:23] #50 closed

[2018-01-11 23:05] josephh opened #52 "Debug error : Failed to handle Import"
Running the plugin version 1.0.2 on intellij 2017.3; mac osx sierra 10.12.6.
Trying to import from a connected server the contents of src/main/content/jcr_root, seeing the debug error,

Is this a problem with the plugin?

[2018-01-12 15:17] GonzaloCalandria opened #53 "No Content Folder Configuration found"
I'm receiving this message in one of my packages, what this means?
It needs to be a `.content.xml` in the apps folder??
![image](https://user-images.githubusercontent.com/2286280/34881546-9e403c3a-f792-11e7-9097-89673176c55c.png)

[2018-01-18 10:43] SakuraSensei opened #54 "Run Server Configuration produces org/apache/sling/ide/impl/vlt/Activator Error"
Good day everyone,

after  I installed the plugin and I'd setup the server configuration I setup aemdc with the following settings:

# Source folders
SOURCE_FOLDER=/Users/foo/aemdc-0.10.2/bin
SOURCE_TYPES_FOLDER={{SOURCE_FOLDER}}

# Target folders
TARGET_UI_FOLDER=ui.apps/src/main/content/jcr_root
TARGET_PROJECT_APPS_FOLDER=aem6.4-pr
TARGET_PROJECT_CONF_FOLDER=aem6.4-pr
TARGET_PROJECT_DESIGN_FOLDE

[2018-01-25 18:56] schaefa commented on #54
Are you using the latest 1.0.3-beta? If not then give that one a spin: https://github.com/headwirecom/aem-ide-tooling-4-intellij/releases

[2018-01-25 19:02] schaefa commented on #53
I think it means that /apps is not part of a filter entry (META-INF/vault/filter.xml) and it does not exist on the remote server.

Can you post your filter.xml file?

[2018-01-25 19:04] schaefa commented on #52
Please try the release 1.0.3-beta as this has some fixes for Mac OS X Sierra. Let me know if the problem persists.

[2018-01-25 19:06] schaefa commented on #48
Can you show my your project structure in myApp-content? The plugin tries to figure out where you content root is (jcr_root) and it cannot find it hence the error.

[2018-01-26 13:38] GonzaloCalandria commented on #53
This is my filter.xml
[code]
Now the error is gone, I've simplified the filter.xml BUT now I've another error when I try to deploy the code:
`Deploy Module Failed: Deploy Module: 'my-application' failed due to OSGi Client Exception: 'org.apache.sling.ide.io.ConnectorException: /etc/workflow/models/my-app/my-content-publish/jcr:content/model'`
That model is an xml file of the workflow, what could b

[2018-02-01 00:39] schaefa commented on #53
I would be careful with that setup. This means that you remove everything from /apps and /etc that is not in your project.

Anyhow to go ahead here I need to have the exception stacktrace and a directory structure to see if there is something weird with your setup.

[2018-02-09 13:36] SBPrakash opened #55 "with the new release 1.0.3.1 - Windows"
org.slf4j.spi.LocationAwareLogger.log(Lorg/slf4j/Marker;Ljava/lang/String;ILjava/lang/String;Ljava/lang/Throwable;)V
java.lang.NoSuchMethodError: org.slf4j.spi.LocationAwareLogger.log(Lorg/slf4j/Marker;Ljava/lang/String;ILjava/lang/String;Ljava/lang/Throwable;)V
	at org.apache.commons.logging.impl.SLF4JLocationAwareLog.debug(SLF4JLocationAwareLog.java:133)
	at org.apache.http.client.protocol.Reque

[2018-02-19 16:03] flexguse commented on #55
I have the same issue here.

`
org.slf4j.spi.LocationAwareLogger.log(Lorg/slf4j/Marker;Ljava/lang/String;ILjava/lang/String;Ljava/lang/Throwable;)V
java.lang.NoSuchMethodError: org.slf4j.spi.LocationAwareLogger.log(Lorg/slf4j/Marker;Ljava/lang/String;ILjava/lang/String;Ljava/lang/Throwable;)V
	at org.apache.commons.logging.impl.SLF4JLocationAwareLog.debug(SLF4JLocationAwareLog.java:133)
	at org.ap

[2018-02-19 16:11] flexguse commented on #55
I just had a look into the lib folder. There is slf4j-api-1.6.4.jar and slf4j-api-1.6.6.jar included. Maybe that's the reason for the error?

[2018-02-20 02:45] schaefa commented on #55
I uploaded release 1.0.3.2 which should fix the issue. Please give it a try and let me know if that fixes this issue.

[2018-02-20 02:46] #49 closed

[2018-02-20 07:27] flexguse commented on #55
Hi @schaefa,
thanks a lot for your quick response and the bugfix. The plugin is working now in my environment.

Thanks a lot again!
Cheers,
Christoph

[2018-02-20 12:22] SBPrakash commented on #55
Hi @schaefa ,

Thanks a lot buddy. its working for me as well.

[2018-02-20 12:22] #55 closed

[2018-03-02 21:16] tduffey commented on #19
@schaefa having the same issue in plugin version 1.0.3.2 with IntelliJ 2017.3. Sometimes IntelliJ works, other times it hangs on startup and only way to make it work again is disable the plugin.

[2018-03-21 11:55] vixenaga opened #56 "'Import from' does not work"
Hi,
I am using plugin version 1.0.3.2, Intellij ulimate edition 2017.1.4 and AEM 6.3. I work on Windows. I am trying to import some components, I get this message:
Successfully ended Action 'Import from Server'
components don't get imported though.
I just started using this plugin, is there something I should do before using?
Agnieszka

[2018-03-25 22:20] schaefa commented on #56
Can you provide some more details?

What is the node you select to import, are you connected to AEM and can you provide part of the IntelliJ logs that covers the import. Some screenshots would be helpful.

[2018-03-28 01:06] SBPrakash opened #57 "Maven projects are not shown in Build configuration"
I am using latest version of plugin  1.0.3.2  with Intellij 2018.1 I am not seeing the maven projects  in the build configuration to add it the server.. Screenshot here.
![image](https://user-images.githubusercontent.com/9323430/38002876-76aa98e0-3280-11e8-95f3-cc17b6df480d.png)

[2018-03-28 21:44] schaefa commented on #57
Please make sure that you have connected the project to a server as the module list is only built during that process.

I might disable the icon while there is no module list but currently I am pretty busy with work.

[2018-03-28 21:47] SBPrakash commented on #57
In IntelliJ 2017.3 when I start the server projects will get added automatically as defined in pom.xml but in 2018 version of IntelliJ that’s not happening. Also not able to add manually.

[2018-03-28 22:30] josephh commented on #52
hi @schaefa
sorry not to update you on this sooner.  I've been trying the plugin again today with similar failures as in January (and I note #56 is reporting similar).

## My current setup
Mac high sierra 10.13.3.
Intellij 2017.3.5 (build March 5 2018)
AEM Tooling v1.0.3.2

## Usage - import
1. I deploy my app to a local aem instance via Maven
1. in Intellij connect to my local server in debug mod

[2018-03-29 01:31] schaefa commented on #52
Hi

Thanks for the update. The Core Exception is an exception from the underlying API trying to access or transfer the data from the server.

Can you please attache the IntelliJ Log file as this should give me information especially the stack trace of the Core Exception. IntelliJ has a menu entry like 'Show Log in ...'.

Thanks - Andreas

[2018-03-29 01:35] schaefa commented on #57
When I tried to test it today I ran into some issues with threads / deadlocks with the latest IntelliJ CE version. Not sure what is going on. I will try to debug it this week and see if I can find a solution for it.

This is not the first time IntelliJ changes stuff with their threads causing problems like this.

Thanks for you patience as I try to sort this out.

- Andy Schaefer

[2018-04-08 10:02] SBPrakash commented on #57
Hi Andy,
Sorry to disturb you.. Did you get any chance to look into the issue

[2018-04-18 22:09] schaefa commented on #57
Hi Prakash

Sorry for the late reply but I was pretty busy with helping a major release of my client.

I looked into it and once more the threading in IntelliJ and/or Java has changed. I fixed it locally but this might not work for you guys. Please let me know if it fixes your issue and if you encounter other issues:

[Releases: ](https://github.com/headwirecom/aem-ide-tooling-4-intellij/releases)

[2018-04-18 22:37] schaefa commented on #57
Can you do the following for me to narrow the issue down:

1. Use IntelliJ to let you know where the Log file is (Help -> Show Log in ...)
2. Stop IntelliJ
3. Move away or delete the idea.log file
4. Start IntelliJ
5. Start the Server Connection
6. Open the Build Dialog
7. Shutdown IntelliJ
8. Attach the log file to this thread

I am not sure what is going wrong but I am assuming that when the Bui

[2018-04-19 00:06] SBPrakash commented on #57
Attached the log after as per steps.
[idea.log](https://github.com/headwirecom/aem-ide-tooling-4-intellij/files/1926123/idea.log)

[2018-04-19 20:18] schaefa commented on #57
Hi Prakash

Your log did not show anything about the AEM Tooling Plugin. I see some errors from other plugins but that should be fine.

I will go ahead and add some logging statements to the way the plugin sets up the Module structure. Unfortunately I cannot increase the log level for our plugin. The only way for me what to go to the IntelliJ installation folder and look for log.xml. There is chan

[2018-04-21 10:05] SBPrakash commented on #57
HI Andy,,

I couldn't find the log.xml in Mac, but I got thread dumps in the logs folder. Attached here. This may help you.
[threadDump-20180421-194854.txt](https://github.com/headwirecom/aem-ide-tooling-4-intellij/files/1934375/threadDump-20180421-194854.txt)

[2018-04-21 19:10] schaefa commented on #57
You can find the log.xml on a Mac here:

1. Go to Applications and locate IntelliJ
2. Right click on it and select 'Show Package Content'
3. Go there to 'contents/bin'

There is the log.xml file.

BTW the thread dump did not indicate any issues and I don't think your problem is a threading deadlock issue.

[2018-04-21 22:27] SBPrakash commented on #57
HI ,

I have changed the log level to DEBUG in log.xml and attached the logs after the steps mentioned the previous comments.

[idea.log](https://github.com/headwirecom/aem-ide-tooling-4-intellij/files/1935043/idea.log)

[idea1.log](https://github.com/headwirecom/aem-ide-tooling-4-intellij/files/1935044/idea1.log)
[idea2.log](https://github.com/headwirecom/aem-ide-tooling-4-intellij/files/1935045/

[2018-04-26 01:52] schaefa commented on #57
You should see at least this log statement: 'Info message for SSE'. If you see this one: 'Debug message for SSE' then Debug logging is still set up.

Keep in mind that the class names are shortened and so you might not see the log statements. I am looking for logging statements for these classes:

* ServerConnectionManager
* ServerConfigurationManager

Digging deeper I found an issue with updating

[2018-04-26 02:25] SBPrakash commented on #57
[idea.log](https://github.com/headwirecom/aem-ide-tooling-4-intellij/files/1949471/idea.log)
[idea1.log](https://github.com/headwirecom/aem-ide-tooling-4-intellij/files/1949472/idea1.log)
[idea2.log](https://github.com/headwirecom/aem-ide-tooling-4-intellij/files/1949473/idea2.log)
[Uploading idea3.log…]()

I have attached the logs with the debug enabled mate..

[2018-04-26 02:42] schaefa commented on #57
Thanks for the quick reply.

What I see in the logs is that there are no Modules reported. I will look into that further and send you a new build with additional logging statements to narrow the problem down.

[2018-04-26 04:41] schaefa commented on #57
Here's the updated release:

[AEM IDE Tooling 4 IntelliJ.beta1-3.zip](https://github.com/headwirecom/aem-ide-tooling-4-intellij/files/1949699/AEM.IDE.Tooling.4.IntelliJ.beta1-3.zip)

[2018-04-26 11:34] SBPrakash commented on #57
This one also it didn't work.. did you see the modules loaded after server has started? I doubt is there something wrong with my Mac

[2018-04-26 13:51] schaefa commented on #57
The latest version (beta1-3) was not a fix but had additional log statements to investigate why they modules are not loaded. So I need to new log files to get a better understanding what happens on your side as it works for me.

[2018-04-26 20:42] SBPrakash commented on #57
[idea.log](https://github.com/headwirecom/aem-ide-tooling-4-intellij/files/1952926/idea.log)
Attached the log.. Hope this helps

[2018-04-26 21:28] schaefa commented on #57
According to your log I see that your are working on ACS Commons, right?

If so can you send me your project so that I can try it out locally.

I see this in the logs:

Get Unified Modules, handled Maven project: ACS AEM Commons Bundle
Get Unified Modules, Maven project file path: /Workspace/acs-aem-commons/content/acs-aem-commons-content.iml
Get Unified Modules, Maven project module file: file://

[2018-04-27 00:26] schaefa commented on #57
Ok, I checkout ACS Commons and added it to my project. Originally it did not show the modules but complained about the missing filter for content. To fix that I marked content/src/main/content as Resource Root and took that away from content/src/main/content/jcr_root. After restarting IntelliJ the modules would show up just fine and with it the Build Dialog was populated.

If that is not fixing yo

[2018-04-30 04:38] SBPrakash commented on #57
It's working now.. but nothing to do with the content or jcr:root folder. i have deleted all the folders related to intellij and freshly installed the project and intellij..

Thanks for your time mate.. Really Appreciated

![image](https://user-images.githubusercontent.com/9323430/39415210-0f93087c-4c84-11e8-98b3-878681dd3e08.png)

[2018-05-01 15:18] schaefa commented on #57
Cool.

If you want me to have a look into the Mac problem then zip up your project and attach it here so that I can have a look into it.

Thanks - Andy

[2018-06-18 20:31] sammyza opened #58 "Could not initialize class com.headwire.aemdc.gui.MainApp"
I am getting this issue straight after I installed the plugin on IntelliJ(2018.1.5 Ultimate Edition - Build 181.5281.24)

Not sure why but I need help on setting up the plugin

[2018-06-22 08:46] alistairmason opened #59 "Server connection don't support HTTPS"
Server connection don't support HTTPS.  Therefore its is not possible to connect to AEM that is configure use HTTPS.

[2018-06-22 21:13] josephh commented on #56
HI @schaefa I couldn't get 'import from...' to work as you know a while ago.  (I had problems using AEM plugins for Eclipse IDE but was able to resolve those by renaming _cq_dialog.xml to prefer a _cq_dialog folder containing .content.xml files).

I'd rather use Intellij, given the choice so tried AEM tools for Intellij again today.  On creating a new server and trying the 'AEM > import from...' o

[2018-06-22 22:28] schaefa commented on #58
To get started I would need the following:

1) Which version of the plugin and where did you get it from?
2) What is the exception you see (both in the UI as well as in the IntelliJ log)?
3) Which version your are using for OS and Java (if you run it w/o the bundle JDK of IntelliJ)?

Thanks for your help - Andy Schaefer

[2018-06-22 23:34] schaefa commented on #56
@josephh I reviewed your logs and I found this:

Import failed: 'Resource at path /apps/simplyhealth/components/page/editorialpage/editorialpage.html is not a direct child of /apps/simplyhealth/components/page/editorialpage/basic'
java.lang.IllegalArgumentException: Resource at path /apps/simplyhealth/components/page/editorialpage/editorialpage.html is not a direct child of /apps/simplyhealth/comp

[2018-06-22 23:46] #54 closed

[2018-06-22 23:46] #53 closed

[2018-06-22 23:49] #48 closed

[2018-06-25 18:48] GonzaloCalandria commented on #57
I've the same problem, can you help me @schaefa ?

[2018-06-25 20:34] schaefa commented on #57
@GonzaloCalandria I need your idea.log (for a short file use IntelliJ to find it (Menu -> Help -> Show Log in ...), shutdown IntelliJ, delete the idea.log, start IntelliJ and reproduce the issue).
It would also help if you could provide me with your project or with a sample project that show cases your issue.

[2018-06-25 20:38] SBPrakash commented on #57
@schaefa for me it was fixed for sometime but later it is broken again. Something is not correct.

I remember before this issue came when you import thr project in IntelliJ it will automatically recognise the content root and it will show in build config,not nowadays.

[2018-06-25 20:38] GonzaloCalandria commented on #57
Here's my idea.log but I cannot share the project with you and I don't have another project to send you.. sorry.
[idea.log](https://github.com/headwirecom/aem-ide-tooling-4-intellij/files/2134672/idea.log)

[2018-06-25 22:06] schaefa commented on #57
@GonzaloCalandria I think I mixed up two issues here. Is your problem related to the Build Configuration (no modules listed) or regarding the Import From issue?

[2018-06-25 22:10] GonzaloCalandria commented on #57
My problemis about the Build Configuration list being empty

[2018-06-25 22:31] schaefa commented on #57
AFAIC remember this was an issue related to the content not having the jcr_root folder being marked as source root. Can you check if your content root is marked as resource root (right click on the jcr_root folder -> Mark Directory as -> Bottom should how Unmark as Resource Root, if not then select Resource Root).

If that is not the case then please send me your log file with the logs set to DEBU

[2018-06-27 13:00] GonzaloCalandria commented on #57
@schaefa I did that (Mark the directory as source root) and I'm still seeing the Edit Build Configuration empty. About those logs, how I put those in DEBUG mode?

[2018-06-28 14:46] schaefa commented on #57
@GonzaloCalandria You need to find the log.xml file (should be located where IntelliJ is installed) and then edit the <root/> section but adjusting the priority line to: <priority value="DEBUG"/>

[2018-06-28 16:32] GonzaloCalandria commented on #57
Ok @schaefa  I think this is the log in debug mode
[idea.log](https://github.com/headwirecom/aem-ide-tooling-4-intellij/files/2146119/idea.log)

[2018-06-28 16:49] schaefa commented on #57
Hi @GonzaloCalandria thanks for the log file. Unfortunately this log file has no entries from our plugin so it does not help. Can you do the following:
- Shutdown IntelliJ
- Go to the log files folder and delete, move or rename the existing ones
- Change the log.xml file with this to make sure the name of the logging class is fully qualified:
  <appender name="FILE" class="org.apache.log4j.Rolling

[2018-06-28 16:56] schaefa commented on #57
@GonzaloCalandria I just tested that myself and it is not working as most of the logging statements in our plugin is on TRACE but setting all of it to trace with created big log files (multiple 10MB files just to start it up).

I will try to find a solution where I can set the trace only to the plugin code and let you know.

[2018-06-28 17:52] GonzaloCalandria commented on #57
@schaefa ok, thank you for all your help! I'll wait for that.

[2018-06-28 19:46] GonzaloCalandria commented on #57
@schaefa I just got this exception, I don't know if it has anything to do with my problem but maybe can help:
`Must not run under write action
java.lang.RuntimeException: Must not run under write action
	at com.intellij.openapi.vcs.impl.CodeSmellDetectorImpl.findCodeSmells(CodeSmellDetectorImpl.java:109)
	at com.headwire.aem.tooling.intellij.communication.ContentResourceChangeListener.executeMakeI

[2018-06-28 20:32] schaefa commented on #57
@GonzaloCalandria Thanks, that is a good hint. I ran into the same thing with the Import From action and I know how to fix it. Probably by tomorrow I have a fix.

[2018-06-28 20:44] GonzaloCalandria commented on #57
@schaefa cool! but that's something to do with the Edit Build Configuration issue?

[2018-06-28 20:47] schaefa commented on #57
This is part of the verify process when you connect to a remote AEM instance. When that fails then the Module Map is not built and hence the Build Configuration is empty. The Module Map is virtual because it can be based on a remote AEM instance, a local Maven module or both. So each time you connect that Map is rebuilt even though the plugin store the last good version initially.
Anyhow with that

[2018-06-29 16:37] schaefa commented on #57
@GastonGonzalez I am sorry but this takes a little bit longer. For now I am waiting for some support from JetBrains as I do not understand how to fix this (they require a Read Only thread but I cannot find a way to set this up).

[2018-07-02 16:45] GonzaloCalandria commented on #57
@schaefa do we have any update about the Edit Build Configuration issue?

[2018-07-02 17:36] schaefa commented on #57
@GonzaloCalandria No, JetBrains did not provide any solution or suggestion on how to fix that.

[2018-07-02 18:12] GonzaloCalandria commented on #57
@schaefa this only affect the latest version of IntelliJ (my version is the latest)?

[2018-07-02 18:13] schaefa commented on #57
@GastonGonzalez I think all versions before 2018.1 should be fine, I think.

[2018-07-18 10:46] vijknair commented on #56
All, 'Import From' doesn't work for me, I am trying with the latest Beta drop on Mac OS Sera , IntelliJ 2018.1, PFB the trace.

`4:09 PM	Debug Message: Folder Path: 'com.headwire.aem.tooling.intellij.eclipse.stub.IPath@243a85cf'

4:09 PM	Debug Message: OS Based String: '/Users/vijeshknair/Documents/sourcecode/pwc.madison.base/ui.apps/src/main/content/jcr_root/apps/fmdita'

4:09 PM	Debug Message: F

[2018-07-23 14:43] GonzaloCalandria commented on #57
Hey @schaefa did you find a solution for the problem with empty projects in the build configuration?

[2018-07-23 18:30] schaefa commented on #57
@GonzaloCalandria Sorry, I had no time to look into this. I am just wondering if the Build Configuration is empty isn't then also the list of module in the Server Configuration Details empty?

For right now JetBrains did not respond to my forum question and I did not have time to look into the issue with the failing Code Smell Check.

I am wondering if for now I should make the Code Smell Check op

[2018-07-23 18:47] SBPrakash commented on #57
Hi @schaefa,

For me as well it’s not working again. I have tried manually adding the modules to serverconfiguration.xml under .idea folder and restart the IntelliJ to take effect. But when I try to start the server while the modules are listed already I got the error as modules are not bound to maven project.

[2018-07-23 19:53] schaefa commented on #57
@GonzaloCalandria Just released https://github.com/headwirecom/aem-ide-tooling-4-intellij/releases/tag/1.0.3.4-beta2 Beta 2 which should fix the issue with the Code Smell Detector.

For the Empty Build Dialog does anyone see an exception.

@SBPrakash I cannot find that message in my project. Do you see this in the idea.log or in the UI. If you see a stack trace or any further info please post it h

[2018-07-23 21:04] GonzaloCalandria commented on #57
@schaefa that version didn't worked... Build Configarion still empty :(

[2018-07-24 00:35] schaefa commented on #57
@GonzaloCalandria I did not expect that this would fix the empty build configuration.

Without having a project where I can reproduce I need some better logging statements. I updated the beta2 release with additional logging statements but the log level needs to be setup for DEBUG. Here is the initial setup:

### Logging

In order to set the correct logging settings the user needs to do the follow

[2018-08-02 19:49] GonzaloCalandria commented on #57
@schaefa sorry for my delay in my response.
Here's my log file
[idea.log](https://github.com/headwirecom/aem-ide-tooling-4-intellij/files/2254958/idea.log)

[2018-08-02 21:26] schaefa commented on #57
@GonzaloCalandria Did you try to connect to the AEM / Sling instance by run or debug the connection ?
Does the Connection Panel show the list of modules?

[2018-08-03 12:49] GonzaloCalandria commented on #57
@schaefa yes, I can connect to an instance but I think I can't see the list of modules... but could you please tell me which one is the Connection Panel to be sure?

[2018-08-06 21:35] schaefa commented on #57
<img width="423" alt="screenshot 2018-08-06 14 06 58" src="https://user-images.githubusercontent.com/209539/43741076-0647f4f8-9982-11e8-8758-982b5e515880.png">

Can you do the following:
- Stop IntelliJ
- Delete the log file
- Start IntelliJ
- Start your connection in either run or debug mode
- Expand the current connection configuration (probably already done)
- Take a picture and add it here
- O

[2018-09-27 21:37] smcauliffe opened #60 "Unable to open folder or new project after install Mac 10.13.6 (High Sierra)"
**Describe the bug**
After installing plugin through IntelliJ preferences (Community 2018.2) and restarting, IntelliJ is unable to load any existing project, folder, or newly created Empty Project.

**To Reproduce**
Steps to reproduce the behavior:
1. Install Plugin using IntelliJ Community 2018.2
2. Restart
3. On open of a project, aemdc-files folder is written to ~/Library/Application Support/Id

[2018-10-09 21:44] schaefa commented on #60
Hi

Sorry to hear that.

Which version of the IntelliJ plugin are you using? Please get that info from the Preferences/Plugins page as the plugin info page might not show all the minor updates.

If you are not using 1.0.3.4-beta2 the please go to our plugin releases here:
https://github.com/headwirecom/aem-ide-tooling-4-intellij/releases
Download it and install it through the Preferences/Plugins '

[2018-10-09 21:45] #58 closed

[2018-10-09 21:47] #52 closed

[2018-10-19 12:19] artus opened #61 "Can't find a way to create a new Node"
I'm working on AEM for the first time using this tooling library, and while following [this](https://helpx.adobe.com/experience-manager/kt/sites/using/getting-started-wknd-tutorial-develop/part2.html#header-nav) tutorial I'm stuck because I don't know how to add a new node. The tutorial was written for Eclipse, so they don't take in account other IDEs for these steps.

This is how it's done in ecl

[2018-11-24 01:02] aadams26 opened #62 "Unable to import JCR properties from .content.xml"
AEM Tooling `import` functionality is not importing JCR properties.

**To Reproduce**
Steps to reproduce the behavior:
1. Log into AEM instance
2. Go to CRXDE Lite
3. Create a new node
4. Go to IntelliJ IDEA
5. Import the newly created node from it's parent
6. Review the `.content.xml`

**Note that the .content.xml only contains the jcr:root and does not contain properties of that node:**
[code]

[2018-11-24 01:30] aadams26 commented on #61
**Sidenote: Stackexchange.com would be a more suitable place for asking such questions. I recommend that you look there for future assistance unrelated to plugin issues, and Stackoverflow.com for programming issues.**

As far as I know, there is no way to automate this from inside IntelliJ. You will have to either create a .content.xml file with the corresponding node properties (required and addi

[2019-01-22 16:51] HanSolo80 commented on #62
I have the same issue. Not only does the "Import from" functionality not work for any properties and sub nodes underneath root. It also doesn't update the CRX structure when server connection is running and you change the .content.xml file in the IDE.

[2019-08-14 04:44] nbsharath opened #63 "Not able find AEM modules in edit build configuration."
I am not able to find the AEM modules to add them to server. I am getting below error.
Below log will provide all the information. I am getting this error on open and when i try to import

2019-08-14 10:06:25,657 [ 131465]  ERROR - llij.ide.plugins.PluginManager - IntelliJ IDEA 2018.3.3  Build #IC-183.5153.38
2019-08-14 10:06:25,657 [ 131465]  ERROR - llij.ide.plugins.PluginManager - JDK: 1.8.0_15

[2019-08-21 10:48] macinos opened #64 "Code hot swap not working anymore"
The **hot swap process** is not working for our team anymore, since we started using IDEA 2019.x. The configuration of all plugins, server and dependencies is the same.

Debugging itself and deploying of changes in JSP files is working well.

After modifying a body of some java method and saving, the recompilation and Felix SCR process starts as usual, but it doesn´t end with the the hot swap or a

[2019-12-13 18:49] schaefa commented on #64
I will have a look into this. If you find time let me know if that is still an issue with 1.0.3.5-beta

[2019-12-13 18:51] schaefa commented on #63
I'll have a look into this. If you can check if that is still an issue with 1.0.3.5-beta that would be helpful.

[2019-12-13 18:53] schaefa commented on #62
I'll check it out

[2019-12-13 19:05] schaefa commented on #56
I tested the 'Import from Server' and it works for me with the caveat that when a node properties were updated then I had to call the 'Import from Server' on the node and not on .content.xml.

[2019-12-13 19:07] schaefa commented on #62
On the release 1.0.3.5-beta the import works with the caveat that one has to call 'Import form Server' on the node and not on .content.xml.

Let me know if this is still an issue.

[2020-01-02 13:11] macinos commented on #64
Hello Andreas,
Thank You for the response. I installed the beta manually from the releases section. JSP file vault update still seems to work properly, however the hot swap seems to encounter a new error for me now:

![image](https://user-images.githubusercontent.com/9002361/71668477-5ccd5d00-2d69-11ea-95d4-2635a58e1de7.png)

The Felix SCR processor is still on version 1.6.2, is that ok? It is con

[2020-01-14 06:25] nbsharath commented on #63
Got resolved with latest build.

[2020-01-14 06:25] #63 closed

[2020-06-30 12:52] jlt-castells opened #65 "Logger it is a service, use getService instead of getComponent"
**Describe the bug**
Bug generate by this plugin, version 1.0.3.5-beta that close my IntelliJ. I teste all previous version and I've same behavior.

**To Reproduce**
Hard to reproduce the behavior, occurs suddenly but mostly when IntelliJ is in background.

**Desktop:**
 - OS: Mac OS Catalina v10.15.5
 - IntelliJ: Ultimate 2020.1.2 Build #UI-201.7846.76 May 31, 2020
 - Plugin: version 1.0.3.5-beta

[2020-08-26 19:33] sanjeetkumar229 opened #66 "Intellij IDE update 2020.2 is not working with plugin aem-ide-tooling-4-intellij"
**Describe the bug**
Recently update Intellij Idea Ultimate IDE to 2020.2. But after update IDE was opening. Support team member told me to disable **aem-ide-tooling-4-intellij** and after disabling this plugin, IDE started working. Currently I have disabled this plugin.

**To Reproduce**
Steps to reproduce the behavior:
1. Upgrade Intellij IDE to latest version 2020.2.1
2. Open any project from s

[2020-08-28 15:46] pabpalac commented on #66
this is the exception trace:

com.intellij.diagnostic.PluginException: org.osgi.service.event.EventAdmin requested as a service, but it is a component - convert it to a service or change call to ApplicationManager.getApplication().getComponent() [Plugin: com.headwire.aem.tooling.intellij]
	at com.intellij.ide.plugins.PluginManagerCore.createPluginException(PluginManagerCore.java:290)
	at com.intel

[2020-10-13 10:54] dontsu commented on #66
Any updates on this? We have the same issue here.

[2021-01-24 16:59] perettigiuliano commented on #66
![image](https://user-images.githubusercontent.com/148322/105637403-aa819f80-5e6d-11eb-8ece-54fc0b99dced.png)
I have just installed all plugins to develop AEM projects but as you can see i have one problem just in the welcome screen, bottom right and the problem is exactly as reported here

[2021-01-25 16:23] schaefa commented on #66
Due to high maintenance we decided to End the Development of this plugin.

[2021-01-25 16:23] #66 closed

[2021-01-25 16:23] schaefa commented on #64
Due to high maintenance we decided to End the Development of this plugin.

[2021-01-25 16:23] #64 closed

[2021-01-25 16:23] schaefa commented on #65
Due to high maintenance we decided to End the Development of this plugin.

[2021-01-25 16:23] #65 closed

[2021-01-25 16:24] schaefa commented on #62
Due to high maintenance we decided to End the Development of this plugin.

[2021-01-25 16:24] #62 closed

[2021-01-25 16:24] schaefa commented on #60
Due to high maintenance we decided to End the Development of this plugin.

[2021-01-25 16:24] #60 closed

[2021-01-25 16:24] schaefa commented on #59
Due to high maintenance we decided to End the Development of this plugin.

[2021-01-25 16:24] #59 closed

[2021-01-25 16:25] schaefa commented on #57
Due to high maintenance we decided to End the Development of this plugin.

[2021-01-25 16:25] #57 closed

[2021-01-25 16:25] schaefa commented on #56
Due to high maintenance we decided to End the Development of this plugin.

[2021-01-25 16:25] #56 closed

[2021-01-25 16:26] schaefa commented on #45
Due to high maintenance we decided to End the Development of this plugin.

[2021-01-25 16:26] #45 closed

[2021-01-25 16:26] schaefa commented on #44
Due to high maintenance we decided to End the Development of this plugin.

[2021-01-25 16:26] #44 closed

[2021-01-25 16:26] schaefa commented on #42
Due to high maintenance we decided to End the Development of this plugin.

[2021-01-25 16:26] #42 closed

[2021-01-25 16:26] schaefa commented on #40
Due to high maintenance we decided to End the Development of this plugin.

[2021-01-25 16:26] #40 closed

[2021-01-25 16:27] schaefa commented on #37
Due to high maintenance we decided to End the Development of this plugin.

[2021-01-25 16:27] #37 closed

[2021-01-25 16:27] schaefa commented on #32
Due to high maintenance we decided to End the Development of this plugin.

[2021-01-25 16:27] #32 closed

[2021-01-25 16:28] schaefa commented on #31
Due to high maintenance we decided to End the Development of this plugin.

[2021-01-25 16:28] #31 closed

[2021-01-25 16:28] schaefa commented on #6
Due to high maintenance we decided to End the Development of this plugin.

[2021-01-25 16:28] #6 closed